:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blu: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray : hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.light {
  --bg-color: var(--very-light-gray);
  --bg-header: var(--white);
  --text-color: var(--very-dark-blu);
  --shadow-color: var(--very-dark-blu);
  --placeholder: var(--very-dark-blu);
}

.dark {
  --bg-color: var(--very-dark-blue);
  --bg-header: var(--dark-blue);
  --text-color: var(--white);
  --shadow-color: var(--very-dark-blu);
  --placeholder: var(--white);
}
