.grid-container {
  display: grid;
  margin: 1.5rem 0;
  grid-template-columns: 20rem 20rem 20rem 20rem;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row;
  row-gap: 4rem;
  grid-template-columns: repeat(4, 1fr);
}


.grid-container__item {
  justify-self: center;
  place-self: center;

}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
    row-gap: 3rem;
    margin: 0.5rem 0;
  }
}


