/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  height: 100%;
}

